* {
    text-align: center;
    background-color: rgb(221, 212, 171);
    box-sizing: border-box;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 20px;
}

body {
    font-family: 'Sedgwick Ave', cursive;
}

.board-container {
    margin: auto;
    display: inline-block;
}
p {
    margin: 0px;
    display: inline;
    
}

h1 {
    margin: 3px;
    font-size: 30px;
}

.cell {
    width: 35px;
    height: 35px;
    text-align: center;
    /* font-size: 1.5em; */
    cursor: pointer;

    background-color: rgb(140, 173, 189);
    display:table-cell;
    width:40px;
    min-width:40px;
    transition: background .5s;
}

.cell:hover {
    background-color: rgb(184, 208, 221);;
}


table {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: -3px 1px 29px 14px rgba(0, 0, 0, 0.246);
    
    
}

.btn:hover {
    background-color:rgb(224, 139, 79); ;
}


.hidden {
    display: none;
}


.btn {
    font-size: 15px;
    margin-top: 10pxx;
    display: block;
    margin: auto;
    border: none;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid;
    background-color: rgb(219, 158, 114);
    box-shadow: -3px 1px 29px 14px rgba(100, 96, 96, 0.205);
    transition: background .5s;
    cursor: pointer;
}

.level {
    display: inline;
    margin-bottom: 10px;
    background-color: rgb(195, 178, 165);
}

.emoji {
    font-size: 15px;
    margin: 5px;
    display: block;
}